<!-- 主页 -->
<!-- 头部 -->
<ion-view>		
<div class="bar bar-header bar-light">
	<h1 class="title">第一出行</h1>
</div>
<ion-content class="homeMain has-header" ng-controller="homeCtrl" >
	<!-- swiper -->
	<!-- <div class="ht43"></div> -->
	<div class="home-swiper">
		<ion-slide-box on-slide-changed="slideHasChanged($index)" does-continue="true">
			<ion-slide>
			  <img src="http:\/\/img3.handybest.com\/Uploads\/topic\/20160707\/14678872823911.jpg!phone" alt="">
			</ion-slide>
			<ion-slide>
			  <img src="http:\/\/img3.handybest.com\/Uploads\/topic\/20160708\/14679336857445.jpg!phone" alt="">
			</ion-slide>
			<ion-slide>
			  <img src="http:\/\/img1.handybest.com\/Uploads\/topic\/20160705\/14677197365036.jpg!phone" alt="">
			</ion-slide>
			<ion-slide>
			  <img src="http:\/\/img2.handybest.com\/Uploads\/topic\/20160705\/14676993464411.jpg!phone" alt="">
			</ion-slide>
		</ion-slide-box>
	</div>
	<!-- input -->
	<div class="home-tag">
		<ul>
		  <li>
		  	<span>
		  		<div style="background: #4ba6ff">
		  			<i class="ion-ios-home-outline"></i>
		  		</div>
		  		<p>住民宿</p>
		  	</span>
		  </li>
		  <li>
		  	<span>
		  		<div style="background: #ff5931">
		  			<i class="ion-model-s"></i>
		  		</div>
		  		<p>要包车</p>
		  	</span>
		  </li>
		  <li>
		  	<span>
		  		<div style="background: #ff4d99">
		  			<i class="ion-android-hand"></i>
		  		</div>
		  		<p>找管家</p>
		  	</span>
		  </li>
		  <li>
		  	<span>
		  		<div style="background: #30d394">
		  			<i class="ion-ios-home-outline"></i>
		  		</div>
		  		<p>游景点</p>
		  	</span>
		  </li>
		  <li>
		  	<span>
		  		<div style="background: #fdc818">
		  			<i class="ion-fork"></i>
		  		</div>
		  		<p>吃美食</p>
		  	</span>
		  </li>
		  <li>
		  	<span>
		  		<div style="background: #7369e6">
		  			<i class="ion-android-bar"></i>
		  		</div>
		  		<p>去游乐</p>
		  	</span>
		  </li>
	</div>
	<!-- main1-->
	<div class="main1 padding">
		<h2><i></i>&nbsp;品质生活 · 触手可及</h2>
		<div class="homeMainImg" ng-repeat="img in employee">
			<a href="#/tab/home/theme"><img ng-src="{{img.url}}" class="aaa{{$index}}"></a>
		</div>
		<div class="homeMore" >
			更多精彩主题&nbsp;<i class="icon ion-arrow-right-b"></i>
		</div>
	</div>
	<!-- main2-->
	<div class="main1 padding">
		<h2><i></i>&nbsp;品质生活 · 触手可及</h2>
		<div class="homeMainImg" ng-repeat="img in employee">
			<img ng-src="{{img.url}}" class="aaa{{$index}}">
		</div>
		<div class="homeMore" >
			更多精彩主题&nbsp;<i class="icon ion-arrow-right-b"></i>
		</div>
	</div>
	<!-- main3-->
	<div class="main1 padding">
		<h2><i></i>&nbsp;品质生活 · 触手可及</h2>
		<div class="homeMainImg" ng-repeat="img in employee">
			<img ng-src="{{img.url}}" class="aaa{{$index}}">
		</div>
		<div class="homeMore" >
			更多精彩主题&nbsp;<i class="icon ion-arrow-right-b"></i>
		</div>
	</div>
</ion-content>
</ion-view>